<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      .box {
        background-color: aqua;
        height: 200px;
        width: 200px;
      }
      .box-two {
        background-color: red;
        height: 200px;
        width: 200px;
      }
      .box-three {
        background-color: yellow;
        height: 200px;
        width: 200px;
      }
      [v-cloak] {
        /* để loại bỏ khi vài giây đầu sẽ hiện giá trị vue vd: {{ greeting }} */
        display: none;
      }
    </style>
  </head>
  <body>
    <div class="" id="app" v-cloak>
      {{ greeting }}

      <!-- Khi thẻ input thay đổi giá trị thì biến greeting cũng thay đổi giá trị -->
      <input @keyup.enter="greet(greeting + ' hello')" v-model="greeting" />
      <hr />

      <!-- <button v-on:click="isVisible = !isVisible">Toggle box</button> -->
      <!-- <button @click="isVisible = !isVisible">Toggle box</button> -->
      <button @click="toggleBox">Toggle box 1</button>
      <button @click.left="toggleBox">Toggle box left click</button>
      <button @click.right="toggleBox">Toggle box right click</button>
      <div class="box" v-if="isVisible"></div>
    </div>
    <script src="https://unpkg.com/vue@next"></script>
    <script>
      let app = Vue.createApp({
        data: function () {
          return {
            greeting: "Hello Vue 3!",
            isVisible: false,
          };
        },
        methods: {
          toggleBox() {
            this.isVisible = !this.isVisible;
          },
          greet(greetingWords) {
            console.log(greetingWords);
          },
        },
      });
      app.mount("#app");
    </script>
  </body>
</html>
